ORACLE_USER=AGROBIOTIC
ORACLE_PASS=AIT
ORACLE_DSN=192.168.0.144:1521/AIT


PG_USER=postgres
PG_PASS=AA
PG_DB=fast_erp
PG_SCHEMA=agrobiotic
PG_HOST=127.0.0.1
PG_PORT=5432

ORACLE_CLIENT_DIR=C:\oracle\instantclient_23_0